 /* Google Font*/
 @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
 


 /* Logo in header */
 #logo {
     font-size: 280%;
     line-height: 75px;
     margin: 0 0.5rem;
     text-decoration: underline;
     font-family: 'Cinzel Decorative',
        serif;  
 }